<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Adicionar Usuário</title>
    <link rel="stylesheet" href="../static/css/adicionar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <form class="box" action="api/v1/auth" method="POST">
        <div class='ebox'>
            <div class="add"> 
                <h2 class="title"> Easy Control - Adicionar Usuário </h2>
                <p>Preencha os campos abaixo:</p>
            </div>    
            <div class="box-group"> 
                <label>Usuário</label>
                <input type="text" name="usuario" placeholder="Digite seu usuário" required>
            </div>
             
            <div class="box-group">
                <label>Senha</label>
                <input type="password" name="senha" placeholder="Digite sua senha" required>    
            </div>

            <div class="box-group">
                <label> Confirmar Senha</label>
                <input type="password" name="confirmar senha" placeholder="Confirme sua senha" required>
            </div>
            <div class="box-group btn">
                <button type="submit">Adicionar</button>
            </div>
        </div>
    </form>
</body>
</html>