{% extends "layout.html" %}

{% block content %}

<form class="formulario1" action="auth" method="POST">
    <div class='card'>
        <div class="card-top"> 
            <img class="imglogin" src={{ data.img }} alt="">
            <h2 class="title"> Easy Control </h2>
            <p>Controle de sensores e eletrodomésticos remotamente!</p>
        </div>    
	    <div class="card-group"> 
    	    <label>Usuário</label>
         <input type="text" name="usuario" placeholder="Digite seu usuário" required>
        </div>
         
	    <div class="card-group">
	        <label>Senha</label>
	        <input type="password" name="senha" placeholder="Digite sua senha" required>    
	    </div>
	    <div class="card-group btn">
    	    <button type="submit">Acessar</button>
        </div>
    </div>
</form>

{% endblock %}
