<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Easy Control | Painel de Controle </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/painel.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> <i class="fas fa-laptop-house"></i> Easy Control</a>
        <a href="#" class="navbar-nav ml-auto"> <i class="fas fa-user-alt"></i> </a>
    </nav>
    <div class="container">
        <div id="jumb" class="jumbotron">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="container_objeto">
                        <p>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <b class="objeto"> Lâmpada Sala 1 </b>
                            <button type="submit" class="edit-button"><i class="far fa-save"></i></button>
                            <button type="submit" class="edit-button"><i class="fas fa-cog"></i></button>
                        </p>
                    </div>
                    <div class="container_objeto">
                        <p>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <b class="objeto"> Lâmpada Sala 2 </b>
                            <button type="submit" class="edit-button"><i class="far fa-save"></i></button>
                            <button type="submit" class="edit-button"><i class="fas fa-cog"></i></button>
                        </p>
                    </div>
                    <div class="container_objeto">
                        <p>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <b class="objeto"> Lâmpada Terraço </b>
                            <button type="submit" class="edit-button"><i class="far fa-save"></i></button>
                            <button type="submit" class="edit-button"><i class="fas fa-cog"></i></button>
                        </p>
                    </div>
                    <div class="container_objeto">
                        <p>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <b class="objeto"> Lâmpada Quintal</b>
                            <button type="submit" class="edit-button"><i class="far fa-save"></i></button>
                            <button type="submit" class="edit-button"><i class="fas fa-cog"></i></button>
                        </p>
                    </div>
                    <div class="container_objeto">
                        <p>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <b class="objeto"> Lâmpada Banheiro </b>
                            <button type="submit" class="edit-button"><i class="far fa-save"></i></button>
                            <button type="submit" class="edit-button"><i class="fas fa-cog"></i></button>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="container_objeto">
                        <p>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <b class="objeto"> Ventilador 1 </b>
                            <button type="submit" class="edit-button"><i class="far fa-save"></i></button>
                            <button type="submit" class="edit-button"><i class="fas fa-cog"></i></button>
                        </p>
                    </div>
                    <div class="container_objeto">
                        <p>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <b class="objeto"> Ventilador 2 </b>
                            <button type="submit" class="edit-button"><i class="far fa-save"></i></button>
                            <button type="submit" class="edit-button"><i class="fas fa-cog"></i></button>
                        </p>
                    </div>
                    <div class="container_objeto">
                        <p>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <b class="objeto"> Portao Garagem </b>
                            <button type="submit" class="edit-button"><i class="far fa-save"></i></button>
                            <button type="submit" class="edit-button"><i class="fas fa-cog"></i></button>
                        </p>
                    </div>
                    <div class="container_objeto">
                        <p>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <b class="objeto"> Camera Sala </b>
                            <button type="submit" class="edit-button"><i class="far fa-save"></i></button>
                            <button type="submit" class="edit-button"><i class="fas fa-cog"></i></button>
                        </p>
                    </div>
                    <div class="container_objeto">
                        <p>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <b class="objeto"> Camera Exterior </b>
                            <button type="submit" class="edit-button"><i class="far fa-save"></i></button>
                            <button type="submit" class="edit-button"><i class="fas fa-cog"></i></button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/all.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
