{% extends "layout.html" %}

{% block content %}

	<div class="container-fluid">
        <div id="main-row" class="row row-cols-1 row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
			{% for object in data.objects %}
				<div object-data={{ object.name }} class="col">
        			<p class="item">
	            		<label class="switch">
							{% if object.status %} 
    	                    <input class="status-checkbox" object-gpio={{ object.gpio }} onclick='window.location.assign("/api/v1/change/{{ object.gpio }}/{{ object.status }}")' type="checkbox" checked>
							{% else %}
    	                    <input class="status-checkbox" object-gpio={{ object.gpio }} onclick='window.location.assign("/api/v1/change/{{ object.gpio }}/{{ object.status }}")' type="checkbox">
							{% endif %}
							<span class="slider round"></span>
            			</label>
    	        		<b class="name">{{ object.name }}</b>
	            		<button type="submit" id="edit-btn" class="edit-button"><i class="fas fa-cog"></i></button>
        			</p>
    			</div>
			{% endfor %}
        </div>
    </div>

{% endblock %}
