<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remover Usuário</title>
    <link rel="stylesheet" href="../static/css/remover.css">
</head>
<body>
    <form class="remover" action="api/v1/auth" method="POST">
        <div class='rmv'>
            <div class="del"> 
                <h2 class="title"> Easy Control - Remover Usuário </h2>
                <p>Preencha os campos abaixo:</p>
            </div>    
            <div class="rmv-group"> 
                <label>Usuário</label>
                <input type="text" name="usuario" placeholder="Digite seu usuário" required>
            </div>
             
            <div class="rmv-group">
                <label>Senha</label>
                <input type="password" name="senha" placeholder="Digite sua senha" required>    
            </div>

            <div class="rmv-group">
                <label> Confirmar Senha</label>
                <input type="password" name="confirmar senha" placeholder="Confirme sua senha" required>
            </div>
            <div class="rmv-group btn">
                <button type="submit">Remover</button>
            </div>
        </div>
    </form>
</body>
</html>