@font-face {
  font-family: "Righteous";
  src: url("../fonts/Righteous-Regular.ttf") format('truetype');
}

body {
  font-family: Righteous, cursive;
  background-color: #bee6e7f5;
}

.navbar-brand {
  margin: auto;
  font-size: 25px;
  font-weight: bold;
  color: skyblue;
}

.navbar-nav.ml-auto {
  position: relative;
  display: inline-block;
  right: 2%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 25px;
  color: white;
}

.jumbotron {
  border-radius: 10px;
}

#jumb {
  margin-top: 4%;
  background-color: white;
  height: 450px;
  padding: 4%;
}

.container_objeto {
  color: white;
  background-color: forestgreen;
  height: 23%;
  margin-bottom: 3%;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
}

.objeto {
  position: relative;
  top: 10px;
  left: 5%;
}

.edit-button {
  background-image: linear-gradient(to right, royalblue, deepskyblue);
  color: darkslategray;
  width: 60px;
  position: relative;
  display: inline-block;
  float: right;
  top: 10px;
  right: 5px;
  border-radius: 36px;
  margin-right: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  top: 13px;
  left: 5px;
  width: 70px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgray;
  transition: 0.5s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: deepskyblue;
}

input:checked + .slider:before {
  transform: translateX(36px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
