@font-face {
  font-family: "Righteous";
  src: url("../fonts/Righteous-Regular.ttf") format('truetype');
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  padding-top: 10%;
  font-family: Righteous, cursive;
  background-color: #bee6e7f5;
}

.navbar-brand {
  margin: auto;
  font-size: 25px;
  font-weight: bold;
  color: skyblue;
}

.navbar-nav.ml-auto {
  position: relative;
  display: inline-block;
  right: 2%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 25px;
  color: white;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  height: 80%;
  padding: 1% 2%;
  background-color: white;
  border-radius: 10px;
}


.item {
  padding: 2%;
  color: white;
  background-color: forestgreen;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  height: 60px;
}

.objeto {
  display: inline;
  position: absolute;
  margin: 0 2%;
}

#edit-button {
  background-image: linear-gradient(to right, royalblue, deepskyblue);
  color: darkslategray;
  width: 45px;
  position: relative;
  display: inline;
  float: right;
  margin: 0 2%;
  border-radius: 36px;
}

#save-button {
  background-image: linear-gradient(to right, royalblue, deepskyblue);
  color: darkslategray;
  width: 45px;
  position: relative;
  display: inline;
  float: right;
  margin: 0 2%;
  border-radius: 36px;
}

.dropdown-toggle{
  float: right;
}

.dropdown-menu{
  float: right;
}


.switch {
  position: relative;
  display: inline-block;
  width: 70px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgray;
  transition: 0.5s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: deepskyblue;
}

input:checked + .slider:before {
  transform: translateX(36px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
