@font-face {
  font-family: "Righteous";
  src: url("../fonts/Righteous-Regular.ttf") format('truetype');
}

html {
  height: 100%;
  margin: 0;
  padding-top: 0;
}

body {
  height: 100%;
  margin: 0;
  background-color: #bee6e7f5;
  font-family: Righteous, cursive;
  padding-top: 10%;
}

.navbar-brand {
  float: left;
  text-align: center;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  color: skyblue;
}

.navbar-toggler {
  right: 15px;
  position: absolute;
}

.navbar-collapse {
  padding-left:0;
}

@media only screen and (max-width: 768px) {
  body {
    height: 100%;
    margin: 0;
    padding-top: 25%;
    font-family: Righteous, cursive;
    background-color: #bee6e7f5;
  }

  .navbar-brand {
    float: left;
    text-align: left;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    color: skyblue;
  }
}

.formulario1 {
  width: 400px;
  margin: 0 auto;
}

.card {
  box-shadow: 1px 1px 5px #ccc;
  background-color: white;
  padding: 5%;
  border-radius: 5px;
}

.card-top {
  text-align: center;
}

.card-group {
  margin-bottom: 10px;
}

.card-group > label {
  width: 100%;
  color: black;
  display: block;
}

.card-group > input {
  border-radius: 5px;
  outline: 0;
  width: 100%;
  height: 35px;
  padding: 5px;
}

.card-group > button {
  background-image: linear-gradient(to right, skyblue, blue);
  width: 100%;
  border-radius: 30px;
  padding: 15px;
  color: white;
  border: 0;
  outline: 0;
}

.btn button:hover {
  background-image: linear-gradient(to right, blue, skyblue);
}

.imglogin {
  border-radius: 50px;
  width: 100px;
  box-shadow: 1px 1px 5px #ccc;
}

.title {
  color: skyblue;
}
